body{
    margin: 0px;
    /* border: 20px solid black; */
}
.header{
    background-color: #EFEFEF;
    margin: 0%;
    padding: 0px 100px;
    height: 100px;
}
.menu-list{
    display: flex;
    justify-content: center;
    align-items:center ;
    list-style: none;
   


}
.menu-item{
  margin: 25px;
 
}
.menu-link{
    color: #181818;
    font-family: "Roboto Condensed",Arial,Helvetica,sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
}
.menu-link:hover {
    color: #B2857A;
}
.beer-logo{
  width: 235px;
  height: 100px;
}
.social {
    display: flex;
     position: absolute; 
    list-style: none;
    right: 5%;
}
.social-link{
    margin: 8px;  
    position: relative;
    color: #181818;
}
.social-link:hover {
    color: #B2857A;
}
.thebest{
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 70px 0px 70px;
    text-align: center;
}
.headline{
    font-size: 1.35rem;
    margin-bottom: 1.5em;
    font-weight: 500;
    color: #B28564;
    font-family: Helvetica;
    margin: 30px;
}
.head-title{
    font-size: 2.9rem;
    margin-bottom: 1em;
    height: 50px;
    font-weight: 550;
    color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin: 6px 0px;
}
.btn-more{
    text-decoration: none;
    margin:  30px 0px 30px 0px;
    color:#B28564; 
    border: 1px solid #B28564;
    border-radius: 0%;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 10px 15px;
    font-weight: 550;
}
.btn-more:hover{
    border: 1px solid ;
    color:#000000; 

}
.bottle{
    padding: 30px 30px 10px 30px;
}
.beer-cup{
    width: 100%;
    padding:100px; 
    display: flex;
    justify-content: center;
}
.img-pro{
    padding: 15px;
}
.product{
    text-align: center;
    width: 80%;
    align-items: center;

}
.product-note{
    font-size: 1.4rem;
    color:#B28564; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;

}
.product-2{
    font-size: 17px;

}
.We-work-hard{
    background-color: #EFEFEF;
    padding: 0px;
}
.behind{
 text-align: end;
 margin:20px;
 padding: 20px 0px;
}
.story{
    font-size: 1.35rem;
    font-weight: 500;
    color: #B28564;
    font-family: Helvetica;
    padding: 30px 0px;
    margin-bottom: 50px;
}
.story-title{
    font-size: 2.9rem;
    margin-bottom: 50px;
    height: 50px;
    font-weight: 550;
    color: #181818;
    font-family: Arial, Helvetica, sans-serif;
    justify-content:flex-end;
    margin: 6px 6px;
}
.vmore{
    margin-top: 80px;
}
a.view-more{
    text-decoration: none;
    color:#B28564; 
    border: 1px solid #B28564;
    border-radius: 0%;
    font-family: Arial, Helvetica, sans-serif; 
    padding: 10px 15px;
    font-weight: 550;
}
.view-more:hover{
    border: 1px solid ;
    color:#000000; 

}
.we-work-img{
    display: flex;
    flex-direction: row;
   padding: 10px 0px 10px 0px;
    
}
.img-str{
    width: 730px;
    height: 380px;
    margin: 10px;
    margin-left: 0px;
    
}
.img-str-2{
    width: 380px;
    height: 380px;
    margin: 8px;
}
/* col-md-4 */
.col-md-4{
    padding: 0px;
    margin: 0px;
}
.container-text-center{
  align-items: center;
   margin: 0px;
   padding: 0px;
}
.box-6{
    padding: 60px 0px 60px 0px;
    width: 100%;
}
.box-6-bot{
    padding: 0px;
}
.img-box-1{
    width: 313px;
    height: 420px;
    
}
.img-box-2{
    width: 433px;
    height: 580px;
}
.box-1{
    padding: 90px 90px 0px 90px;
    text-align: center;
}
.box-2{
    padding: 0px 30px 0px 30px; 
}
.box-gray{
    background-color: #EFEFEF;
}
.box-1-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 90px 0px 90px;
    justify-items: center;
}
.box-2-text{
    padding: 0px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 90px 0px 90px;
    justify-items: center;
}
.title-yel{
    font-size: 1.35rem;
    font-weight: 500;
    color: #B28564;
    font-family: Helvetica;
    padding-top: 90px;
    margin-bottom: 30px;
}
.bold-title{
    font-size: 42px;
    margin-bottom: 1em;
    font-weight: 700;
    color: #181818;
    font-family: "Roboto Slab", Arial, sans-serif;
    justify-content:flex-end;
    margin-bottom: 30px;  
}
.sma-title{
    font-size: 15px;
    font-family: "Roboto Slab", Arial, sans-serif;
    color: #181818;
    margin: 6px 6px;   
    line-height: 1.8;
}
.SPOT-THE-DIFFERENCE{
display: flex;
flex-direction: column;
align-items: center;
padding: 50px 70px 0px 70px;
text-align: center;
}

.tieu-de{
    font-size: 35px;
    font-weight: 600;
    color: #181818;
    font-family: Helvetica;
    width: 37%; 
    justify-content: center;
}
.tieu-de-nho{
    font-size: 20px;
    margin-bottom: 1em;
    height: 50px;
    font-weight: 500;
    color: #B28564;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    margin-top: 25px;
}

/* BOX SLIDE */


.img-box-slide{
    width: 278px;
}
.box-slide-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-s-info{
    width: 40%;
}
.box-slide-price
{
    width: 100%;
    font-size: 24px;
    border: solid 1px #B28564;
    font-weight: 500;
    border-bottom: none;
    padding: 15px 15px;

}
.box-slide-text{
    width: 100%;
    border: solid 1px #B28564;
    /* border-bottom: none; */
}
.b-s-text{
    font-size: 20px;
    font-weight: 550;
    padding: 15px 30px 8px 19px;
}
.b-s-text-2{
    width: 100%;
    padding: 15px 30px 15px 19px;

    
}
.slide-add-to{
    width: 100%;
    font-size: 12px ;
    color: #B28564;
    font-weight: bold;
    border: solid 1px;
    border-top: none;
    padding: 23px 19px;
}



.Testimonials-title{
    position: absolute;
    transform: translateY(-120%);
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    
 }
 .text-testimonials{
    padding-bottom:50px ;
 }
.text-title-bold{
        font-size:  45px;
        color: #fff;
        font-weight: 550;
        margin-top: 20px;
    
}
.text-title{
        font-size: 21px;
        color: #B28564;
        font-family: Arial, Helvetica, sans-serif;
}
.conveyor-belt{
    display: flex;
justify-content: center;}


.Testimonials-items{
    display: flex;
    flex-direction: column;
  width: 50%;
  text-align: center;
  align-items: end;

}

.item-form{
    width: 50%;
    margin-left: 190px;
}
.fa-quote-right{
    font-size: 80px;
    color: #B28564;
    padding: 10px;
}
.carousel-text{
    font-size: 25px;
    color: #B28564;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}
p{
    padding-top: 30px;
    color: #fff;
}
.line{
    position: relative;
    height: 1px;
    opacity: 0.6;
    width: 100%;
margin-top: 30px;  
  background-color: #fff;
}
.signature{
    padding: 30px;  
}
.MICHAEL-SMITH{
    font-size: 18px;
    color: #B28564;
    font-weight: 700;
}
.bg-img{
    width: 1515px;
    background-image:url(hero_testimonials.jpg);
    background-position-y: 0px;
}
.CERTAIN-BEERS{
     display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 120px 70px 0px 70px;
    text-align: center;
}
.price-beer{
    padding-left: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
}
.pri-br{
position: relative;
 border-top: none;
text-align: center;
padding: 0px;
letter-spacing: 1px;
width: 300px;
height: 100px;

}
.pri-br div
{
    display: flex;
    float: left;
    justify-content: center;
    height: 40%;
    align-items: center;  
    font-family: Arial, Helvetica, sans-serif;
 
}
.pri-ber{
    width: 100%;
}
.pri-ber div{
    float: left;
    width: 50%;
    height: 100%;

}
.pri-img{
    width: 313px;
}
.pri-name{
    text-align: center;
    width: 100%;
    font-size: 20px;
    border: solid 1px #B28564;
    border-bottom: none;
    font-weight: 550;
}
.pri-text
{
    text-align: center;
    width: 100%;
    font-size: 15px;
    border: solid 1px #B28564;
    font-weight: 700;
}
.add-to{
    text-align: center;
    width: 100%;
    font-size: 12px ;
    color: #B28564;
    font-weight: bold;
    border: solid 1px;
    border-left: none;
}
.bg-sub-img{
    background-image:url(hero_newsletter.jpg);
    background-position-y: 0px;
    width: 100%;
}
.BEERWEMAKE{
    padding-top: 100px;
    padding-bottom: 100px;
}
.EVERY-BEER-WE-MAKE{
    position: absolute;
    width: 100%;
    transform: translateY(-120%);
}
.sub-title-bold{
    font-size:  45px;
    color: #fff;
    font-weight: 550;
    margin: 30px 40px 30px 40px;

}
.sub-title{
    font-size: 21px;
    color: #B28564;
    font-family: Arial, Helvetica, sans-serif;
    margin:30px 40px 40px 40px;

}
.Subscribe-form{
    display: flex;
    flex-direction: row;
    margin: 40px;
    padding-top: 20px;

}
.email-form{
    background: transparent;
    border: solid 1px #B28564;
    margin: 0%;
    width: 90%;
    padding: 10px; 
}
.sub-form{
    background: transparent;
    border: solid 1px #B28564;
    border-left: none;
    margin: 0%;
    width: 25%;
    padding: 10px; 
    text-align: center;

}
.Subscribe{
    background: transparent;
    border: none;
    font-size: 12px;
    font-weight: 700;
    color: #B28564;
} 
.Subscribe:hover{
    color: #fff;
}
.email{
    background: transparent;
    border: none;
    width: 100%;
    outline: none;
    color:#fff;
}
.follow-us{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;
}
.social-FLW {
    display: flex;
    list-style: none;
    font-size: 27PX;
}
.social-link-flw{
    margin: 15px;  
    color: #B28564;
}
.img-flw{
    padding-top: 30px;
}
